*{
	margin: 0;
	padding:0;
	border:0;
}
a{
	text-decoration: none;
	color: inherit;
	margin: 0;
	padding:0;
	border:0;
}
body{
	background-image: url("../imgs/fundo.png");
	font-family: Arial, Helvetica, sans-serif;
}
#conteudo{
	width:780px;
	margin: auto;
	margin-top: 35px;	
}
#cabecalho{
	text-align: center;
	background-color: #888;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	padding-bottom: 25px;
	padding-top: 25px;

}
#principal{
	background-color: #ddd;
	padding: 25px;
}
footer{
	text-align: center;
	padding-bottom: 25px;
	padding-top: 25px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #888;
}

#menu{
	width:80%;
	margin: auto;
}

#menu ul{
	margin-top:15px;
	list-style-type: none;
}

#menu li{
	display: inline;
	margin-right: 35px;
	background-color: gray;
	padding: 5px;
	cursor:pointer;
}

#menu li:hover{
	font-weight: bold;
}
/*Para remover a margin do ultimo filho e centralizar*/
#menu #ultimoItem{
	margin-right: 0px;
}


.contorno{
	margin:auto;
	border: 1px solid gray;
	border-radius: 10px;	
	padding: 20px;
	text-align: center;
}

.contorno h2{
	text-align: center;
	margin-bottom: 15px;
}

.esquerda{
	float: left;
}

.direita{
	float: right;
}

.centro{
	margin:auto;
}

button{
	background-color: gray;
	border: 2px groove black;
	padding: 7px;
	margin:7px;
	cursor:pointer;
	min-width: 30px;
}

#resultado{
	font-size: 18px;
	line-height: 35px;
	padding: 15px;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=checkbox] {
  cursor: pointer;
  width: auto;
}

input[type=submit] {
  width: 75%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#divFormEsq {
  border-radius: 5px;
  background-color: #d6d4d4;
  padding: 20px;
  width: 35%;
  float: left;
}

#divFormDir {
  border-radius: 5px;
  background-color: #d6d4d4;
  padding: 20px;
  width: 35%;
  float: right;
}

.sucesso{
	background-color: blue;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
}

.erro{
	background-color: #e82121;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
}

.erro2{
	background-color: #e82121;
    font-weight: bold;
    text-align: left;
    padding: 15px;
    padding-left: 35px; 
    margin-bottom: 20px;
}

.erro2 li{
	padding: 15px;
}